:root {
  --main-content-width: 80%;
  --main-content-padding: 5px;

  --light-blue: #61daf9;
  --light-blue-grey: #b7c7f8;
  --blue-grey: #8797c8;
  --dark-blue-grey: #6777a8;
  --darker-blue-grey: #1b1f2b;

  --marian-blue: #374788ff;
  --moss-green: #898952ff;
  --spanish-orange: #ea6d1dff;
  --jade: #57a773ff;
  --platinum: #e5e5e5ff;
}

html,
body {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3 {
  color: black;
  padding: 5px;
  margin: 0px;
}

#root {
  height: 100%;
  text-align: center;
  overflow: hidden;
}

#container {
  max-width: var(--main-content-width);
  margin: auto;
  z-index: 0;
  height: 300vh;
}

#background {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10000;
}

#MainContent {
  position: relative;
  text-align: center;
  justify-content: center;
  height: 100%;
  z-index: inherit;
}

.Center {
  position: relative;
  justify-content: center;
  text-align: center;
  height: 100%;
  transition-property: background-color box-shadow;
  transition-duration: 500ms;
  background-color: var(--platinum);
  z-index: inherit;
  padding: var(--main-content-padding);
}

.backdrop {
  background-color: var(--platinum);
  box-shadow: 0px 0px 70px -23px var(--spanish-orange),
    0px 0px 13px -1px var(--darker-blue-grey),
    inset 0px -5px 1px 1px var(--spanish-orange);
}

.popped {
  padding: 5px;
  box-shadow: 2px 1px 5px 1px var(--darker-blue-grey),
    inset 1px -2px 15px -5px var(--light-blue-grey);
  border-radius: 10px;
  background-color: var(--platinum);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
