.HeaderLayout {
  width: 100%;
}

.HeaderFlex {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.HeaderFlex > * {
  color: black;
}

#SidebarNavigation {
  transform: rotateY(90deg) skewX(5deg);
  transform-origin: 100% 100%;
  perspective: 12cm;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -10%;
  top: 0;
  z-index: 1;
  width: 40%;
  height: 100%;
  background-color: black;
}

#SidebarNavigation:after {
  content: ".";
  visibility: hidden;
}
#SidebarNavigation > * {
  margin-bottom: 10px;
  margin-left: 5px;
  background: linear-gradient(to right, #ffffff, #999999, #ffffff);
  background-size: 2000% 2000%;
}
#SidebarNavigation > *:hover {
  background: linear-gradient(to right, #ffffff, #999999, #ffffff);
  background-size: 2000% 2000%;
  animation: Animation 5s ease 1s;
}

@keyframes Animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
